* {
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: #F0F0F0;
}

header {
  background-color: #562B81;
  color: white;
  padding: 1rem 0;
}

h1,
h2,
h3 {
  font-family: 'Proza Libre', sans-serif;
  margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.header-heading {
  display: inline;
  font-size: 1.25rem;
  font-weight: normal;
}

.nav-bar {
  display: inline;
  color: white;
  font-size: 1rem;
}

.nav-link {
  margin-left: 1rem;
}

.page-heading {
  font-size: 1.875rem;
  margin: 1rem 0;
}

.form-subheading {
  font-size: 1rem;
  margin: 1.5rem 0 .5rem;
}

.entry-preview,
.avatar-preview {
  height: 30vh;
  object-fit: cover;
}

.text-box {
  font-size: 1rem;
  border: 1px solid #B6B6B6;
  padding: .5rem;
}

.text-box:focus {
  outline-color: #562B81;
}

.new-footer {
  display: flex;
  justify-content: flex-end;
}

.show-delete {
  justify-content: space-between;
}

button {
  background-color: #562B81;
  color: white;
  text-transform: uppercase;
  border-width: 0;
}

.delete-button {
  background-color: #F0F0F0;
  color: #DC2626;
  text-decoration: underline;
  text-transform: none;
}

.delete-button:hover {
  text-decoration: none;
}

.save-button {
  margin: 1rem 0;
  padding: .25rem 1rem;
}

.new-button {
  margin: auto 0;
  padding: .25rem .5rem;
}

.save-button:active,
.new-button:active,
.edit-button:active,
.cancel-button:active,
.confirm-button:active {
  transform: translateY(2px);
}

.entries-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.entries-list-item {
  margin-bottom: 2rem;
}

.entry-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.entry-heading {
  margin: 0;
}

.profile-detail {
  font-size: 1rem;
  margin: 1.5rem 0 .5rem;
}

.edit-button {
  color: #562B81;
  font-size: 1.5rem;
  cursor: pointer;
}

.profile-icon {
  color: #562B81;
  font-size: 1.5rem;
  margin-right: .5rem;
}

.edit-profile-button {
  margin: 1rem 0;
  padding: .25rem .5rem;
}

.entry-par {
  white-space: pre-line;
  margin: 0;
  font-size: 1.2rem;
  line-height: 2rem;
}

.delete-modal-container {
  position: fixed;
  background-color: rgba(41, 41, 41, 0.75);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete-box {
  background-color: white;
  width: 90%;
  max-width: 300px;
  padding: .75rem;
}

.delete-text {
  text-align: center;
  font-size: .8rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.cancel-button {
  background-color: #B6B6B6;
  color: #292929;
  font-size: .9rem;
  font-weight: 600;
  padding: .25rem .5rem;
}

.confirm-button {
  background-color: #DC2626;
  font-size: .9rem;
  padding: .25rem .5rem;
}

@media screen and (min-width: 768px) {
  .entry-preview,
  .avatar-preview {
    height: 100%;
    max-height: 40vh;
  }
}
